USE [master]
GO
/****** Object:  Database [FindUsHere]    Script Date: 16.05.2024 15:05:55 ******/
CREATE DATABASE [FindUsHere]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FindUsHere', FILENAME = N'/var/opt/mssql/data/FindUsHere.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FindUsHere_log', FILENAME = N'/var/opt/mssql/data/FindUsHere_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FindUsHere].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FindUsHere]
GO
/****** Object:  Table [dbo].[BusinessInfo]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Website] [nvarchar](50) NULL,
	[Postcode] [int] NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[HouseNumber] [nvarchar](50) NOT NULL,
	[Addition] [nvarchar](50) NULL,
	[GpsLatitude] [float] NOT NULL,
	[GpsLongitude] [float] NOT NULL,
	[Category_FK] [int] NOT NULL,
	[User_FK] [int] NOT NULL,
 CONSTRAINT [PK_BusinessInfo_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Days]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Days](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Days_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DisLiked]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DisLiked](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessInfo_FK] [int] NOT NULL,
	[User_FK] [int] NOT NULL,
 CONSTRAINT [PK_DisLiked_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_DisLiked] UNIQUE NONCLUSTERED 
(
	[BusinessInfo_FK] ASC,
	[User_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessInfo_FK] [int] NOT NULL,
	[User_FK] [int] NOT NULL,
 CONSTRAINT [PK_Favorites_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Favorites] UNIQUE NONCLUSTERED 
(
	[BusinessInfo_FK] ASC,
	[User_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hours]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time_Open] [time](0) NOT NULL,
	[Time_Closed] [time](0) NOT NULL,
	[Days_FK] [int] NOT NULL,
	[BusinessInfo_FK] [int] NOT NULL,
 CONSTRAINT [PK_Hours_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Liked]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liked](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BusinessInfo_FK] [int] NOT NULL,
	[User_FK] [int] NOT NULL,
 CONSTRAINT [PK_Liked_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Liked] UNIQUE NONCLUSTERED 
(
	[BusinessInfo_FK] ASC,
	[User_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhotoLink]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhotoLink](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
	[BusinessInfo_FK] [int] NOT NULL,
 CONSTRAINT [PK_PhotoLink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 16.05.2024 15:05:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserEmail] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_User] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BusinessInfo]  WITH CHECK ADD  CONSTRAINT [FK_BusinessInfo_BusinessInfo] FOREIGN KEY([Category_FK])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[BusinessInfo] CHECK CONSTRAINT [FK_BusinessInfo_BusinessInfo]
GO
ALTER TABLE [dbo].[BusinessInfo]  WITH CHECK ADD  CONSTRAINT [FK_BusinessInfo_User] FOREIGN KEY([User_FK])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BusinessInfo] CHECK CONSTRAINT [FK_BusinessInfo_User]
GO
ALTER TABLE [dbo].[DisLiked]  WITH CHECK ADD  CONSTRAINT [FK_DisLiked_BusinessInfo] FOREIGN KEY([BusinessInfo_FK])
REFERENCES [dbo].[BusinessInfo] ([Id])
GO
ALTER TABLE [dbo].[DisLiked] CHECK CONSTRAINT [FK_DisLiked_BusinessInfo]
GO
ALTER TABLE [dbo].[DisLiked]  WITH CHECK ADD  CONSTRAINT [FK_DisLiked_User] FOREIGN KEY([User_FK])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DisLiked] CHECK CONSTRAINT [FK_DisLiked_User]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_BusinessInfo] FOREIGN KEY([BusinessInfo_FK])
REFERENCES [dbo].[BusinessInfo] ([Id])
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_BusinessInfo]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Favorites_User] FOREIGN KEY([User_FK])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Favorites] CHECK CONSTRAINT [FK_Favorites_User]
GO
ALTER TABLE [dbo].[Hours]  WITH CHECK ADD  CONSTRAINT [FK_Hours_Days] FOREIGN KEY([Days_FK])
REFERENCES [dbo].[Days] ([Id])
GO
ALTER TABLE [dbo].[Hours] CHECK CONSTRAINT [FK_Hours_Days]
GO
ALTER TABLE [dbo].[Hours]  WITH CHECK ADD  CONSTRAINT [FK_Hours_Hours] FOREIGN KEY([BusinessInfo_FK])
REFERENCES [dbo].[BusinessInfo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hours] CHECK CONSTRAINT [FK_Hours_Hours]
GO
ALTER TABLE [dbo].[Liked]  WITH CHECK ADD  CONSTRAINT [FK_Liked_BusinessInfo] FOREIGN KEY([BusinessInfo_FK])
REFERENCES [dbo].[BusinessInfo] ([Id])
GO
ALTER TABLE [dbo].[Liked] CHECK CONSTRAINT [FK_Liked_BusinessInfo]
GO
ALTER TABLE [dbo].[Liked]  WITH CHECK ADD  CONSTRAINT [FK_Liked_User] FOREIGN KEY([User_FK])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Liked] CHECK CONSTRAINT [FK_Liked_User]
GO
ALTER TABLE [dbo].[PhotoLink]  WITH CHECK ADD  CONSTRAINT [FK_PhotoLink_BusinessInfo] FOREIGN KEY([BusinessInfo_FK])
REFERENCES [dbo].[BusinessInfo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhotoLink] CHECK CONSTRAINT [FK_PhotoLink_BusinessInfo]
GO
USE [master]
GO
